body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  margin: 0;
  background-color: #137243;
  width: 100%;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 36px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
  text-align: center;
  justify-content:space-around
}

.hedoro-card {
  border: 2px solid #137243;
  border-radius: 15px;
  width: 300px;
}

div img {
  width: 250px;
}

.hedoro-card:hover {
  box-shadow: rgb(8, 28, 48) 0px 20px 30px -10px;
}

footer {
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #137243;
}

footer p {
  color: #5ed0b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}